<%= form_for(news) do |f| %>
  <% if news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field col s12">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
        <%= f.label :body %>
        <%= f.text_area :body, class: "materialize-textarea" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
        <%= f.label :adress %>
        <%= f.text_field :adress %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
        <%= f.label :city %>
        <%= f.text_field :city %>
    </div>
    <div class="input-field col s6">
        <%= f.label :country %>
        <%= f.text_field :country %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
        <%= f.submit "Valider", class: 'btn' %>
    </div>
  </div>
<% end %>
