<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @news.body %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @news.adress %>
</p>

<p>
  <strong>City:</strong>
  <%= @news.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @news.country %>
</p>

<p>
  <strong>User:</strong>
  <%= @news.user %>
</p>

<p>
  <strong>Image:</strong>
  <%= @news.image %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @news.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @news.longitude %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
