<div class="row">
  <!-- <h3>Log in</h3> -->
</div>

<div class="row">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="row">
      <div class="input-field col s6 offset-s3">
        <i class="material-icons prefix">account_circle</i>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="input-field col s6 offset-s3">
        <i class="material-icons prefix">phone</i>
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>

    <!-- <div class="row">
      <% if devise_mapping.rememberable? -%>
        <div class="input-field col s3 offset-s4">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
    </end> -->

    <div class="row center">
      <div class="input-field col s12">
        <%= f.submit "Log in", class: 'btn'%>
      </div>
    </div>
  <% end %>
</div>

<div class="row center">
    <%= render "devise/shared/links" %>
</div>
